.Gif {
  max-width: 300px;
  color: #eee;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 7px;
  height: fit-content;
}

.Gif-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
